<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CallWidowsServiceSample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Calculator Web ServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="Calculator Web ServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://ecs.syr.edu/faculty/fawcett/Handouts/cse775/code/calcWebService/Calc.asmx"
                binding="basicHttpBinding" bindingConfiguration="Calculator Web ServiceSoap"
                contract="Calculatorservice.CalculatorWebServiceSoap" name="Calculator Web ServiceSoap" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <CallWidowsServiceSample.Properties.Settings>
            <setting name="CallWidowsServiceSample_AdvantechWebService_AdvantechWebServiceLocal"
                serializeAs="String">
                <value>https://www2.advantech.eu/webservice/AdvantechWebServiceLocal.asmx</value>
            </setting>
            <setting name="CallWidowsServiceSample_CalculatorWebService_Calculator_x0020_Web_x0020_Service"
                serializeAs="String">
                <value>https://ecs.syr.edu/faculty/fawcett/Handouts/cse775/code/calcWebService/Calc.asmx</value>
            </setting>
        </CallWidowsServiceSample.Properties.Settings>
    </applicationSettings>
</configuration>