<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Calculator Web ServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="Calculator Web ServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://ecs.syr.edu/faculty/fawcett/Handouts/cse775/code/calcWebService/Calc.asmx"
                binding="basicHttpBinding" bindingConfiguration="Calculator Web ServiceSoap"
                contract="Calculatorservice.CalculatorWebServiceSoap" name="Calculator Web ServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>